[run]
source = src
omit =
    */__init__.py
    src/fake_news/models/transformer_classifier.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
